.header, .classUseContainer, .contentContainer {
  margin-left: 16px;
  margin-right: 16px;
}

.subTitle {
  margin-top: 16px;
}

.subTitle + .title {
  margin-top: 4px;
}

.title {
  border-bottom: 1px solid $bg-lightblue;
  padding-bottom: 2px;
  margin-bottom: 20px;
}

.header + .contentContainer {
  margin-top: 16px;
}

.inheritance {
  list-style: none;
}

li > .inheritance {
  padding-left: 27px;
}

.blockList {
  list-style: none;

  > hr, > hr + br {
    display: none;
  }
}

.description {
  .block {
    margin: 8px 0;
  }
}
