.header, .contentContainer {
  margin-left: 16px;
  margin-right: 16px;
}

.title {
  border-bottom: 1px solid $bg-lightblue;
  color: darken($bg-blue, 20%);
  padding-bottom: 2px;
  margin-bottom: 20px;
}

.header + .contentContainer {
  margin-top: 16px;
}

table {
  width: 100%;
}

.colFirst {
  width: 25%;
}

.overviewSummary, .typeSummary {
  .colFirst {
    font-size: 13px;
    font-weight: 700;
  }
}

tbody:first-of-type tr:first-child th:last-child,
tbody:first-of-type tr:first-child td:last-child {
    border-top-right-radius: 2px;
}

tbody:last-of-type td:last-child, {
    border-bottom-right-radius: 2px;
}

tbody:last-of-type tr:last-of-type td:first-child, {
    border-bottom-left-radius: 2px;
}

caption {
  display: inline-block;
  position: relative;
}

caption > span {
  background-color: $bg-orange;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  display: inline-block;
  padding: 8px;
}

caption > span {
  margin-left: 4px;

  &:first-child {
    background-color: $bg-orange;
    margin-left: 0;
  }
}

.activeTableTab {
  background-color: $bg-orange;
}

.tableTab {
  background-color: $bg-blue;
  color: #fff;
}

caption, th {
  text-align: left;
}

th {
  background-color: $bg-lightblue;
}

.rowColor {
  background-color: $bg-table-striped;
}

td, th {
  padding: 8px;
}

td:first-of-type {
  border-left: 1px solid $bg-table-striped;
}

td:last-of-type {
  border-right: 1px solid $bg-table-striped;
}

.altColor:last-child td {
  border-bottom: 1px solid $bg-table-striped;
}

.tabEnd {
  display: none;
}
