table {
  margin-bottom: 16px;
  width: 100%;
}

.colFirst {
  width: 25%;
}

.overviewSummary, .typeSummary {
  td.colFirst {
    font-size: 13px;
    font-weight: 700;
  }
}

.memberSummary td.colLast .block {
  margin-top: 2px;
}

tbody:first-of-type tr:first-child th:last-child,
tbody:first-of-type tr:first-child td:last-child {
  border-top-right-radius: 2px;
}

tbody:last-of-type tr:last-child td:last-child {
  border-bottom-right-radius: 2px;
}

tbody:last-of-type tr:last-of-type td:first-child {
  border-bottom-left-radius: 2px;
}

caption > span {
  background-color: $bg-orange;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  display: inline-block;
  margin-right: 4px;
  padding: 8px;
}

.tableTab {
  background-color: $bg-blue;

  a {
    color: #fff;
  }
}

.tabEnd {
  display: none;
}

caption, th {
  text-align: left;
}

th {
  background-color: $bg-lightblue;
}

.altColor:hover td {
  background-color: lighten($bg-lightblue, 8%);
}

.rowColor td {
  background-color: $bg-table-striped;
}

.rowColor:hover td {
  background-color: $bg-lightblue;
}

td, th {
  padding: 8px;
}

td:first-of-type {
  border-left: 1px solid $bg-table-striped;
}

td:last-of-type {
  border-right: 1px solid $bg-table-striped;
}

.altColor:last-child td {
  border-bottom: 1px solid $bg-table-striped;
}
