$bg-white: #fff;
$bg-blue: #4d7a97;
$bg-lightblue: #dee3e9;
$bg-orange: #f8981d;

$bg-table-striped: lighten($bg-lightblue, 4%);

$text: #333;
$heading: darken($bg-blue, 20%);

$link-blue: #4a6782;
$link-orange: #ba741f;
